<h1>Employee show</h1>

<h2> First Name: <%= @employee.first_name %> </h2>
<h2> Last Name: <%= @employee.last_name %> </h2>
<h4> Alias: <%= @employee.alias %> </h4>
<h4> Title: <%= @employee.title %> </h4>
<h4> Office: <%= @employee.office %> </h4>
<h4> dog id: <%= @employee.dog.id %> </h4>

<%# <%url_to_image(@employee.img_url)%> 

